<h1>Uživatelé</h1>
<a href="#" routerLink="/user" class="float-right">Nový</a>
<table class="table table-bordered">
  <th>Jméno</th>
  <th>Přihlašovací jméno</th>
  <th>Tlačítko</th>
  <th>Změnit</th>
  <th>Odstranit</th>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td><app-sbutton [s]="{'user': user}" [admin]="false"></app-sbutton></td>
    <td><a href="#" routerLink="/user/{{user.id}}">X</a></td>
    <td><a href="#" (click)="remove(u.id, $event)">X</a></td>
  </tr>
</table>
