<h1>Nastavit heslo</h1>
<form [formGroup]="passForm" (submit)="change($event)">
  <div class="form-group">
    <label for="pass">Heslo</label>
    <input id="pass" class="form-control" type="password" formControlName="pass" placeholder="******">
  </div>
  <div class="form-group">
    <label for="pass2">Heslo znovu</label>
    <input id="pass2" class="form-control" type="password" formControlName="pass2" placeholder="******">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Nastavit heslo</button>
  </div>

</form>
