<div ngbDropdown
     #myDrop="ngbDropdown"
>
  <button [ngClass]="{'btn': true, 'btn-primary': true, 'btn-shift': true, 'dropdown-toggle': admin}"
          type="button"
          ngbDropdownToggle
          [ngStyle]="style(s)"
          (contextmenu)="deleteUser(getId(s), $event)"
  >
    {{name(s)}}
  </button>
  <div class="dropdown-menu" *ngIf="admin">
    <a class="dropdown-item"
       href="#"
       *ngFor="let u of users"
       (contextmenu)="insertUser(u.id, $event)"
       (click)="changeUser(u.id, s, $event)"
    >
      {{u.name}}
    </a>
  </div>
</div>
